@model ArticleWithUserViewModel

@{
    ViewData["Title"] = "MyArticles";
    Layout = "_MainLayout";
    SelectList Categories = new SelectList(ViewBag.Categories, "CategoryId", "CategoryName");
}
<section class="mt-5 animate__animated animate__pulse">
<div class="container p-5 Article-form text-white">
    <h2 class="h4">My Article:</h2>
    

    <!-- header -->
    <div class="d-flex align-items-center gap-3 justify-content-between bg-black text-white rounded-2 p-3">
        <div>
        <img src="/assets/download.jpeg" width="60px" height="60px" class="rounded-pill shadow" />
            <span class="h4 m-0">@Model.UserName</span>
        </div>
        <div>
            <a asp-action="AddArticle" asp-controller="Article" class="bg-success p-2 rounded-3 text-white"><i class="fa-solid fa-circle-plus"></i> Add Article</a>
        </div>
    </div>

    <!-- body -->
    <div class="shadow rounded-3 p-2 my-3">
        <!-- loop -->
        @foreach(Article article in Model.Articles)
        {
            <div class="d-flex align-items-center justify-content-between border-bottom pb-1 m-2">
                <div class="d-flex align-items-center gap-4">
                    <a asp-action="ArticleDetils" asp-route-id="@article.Id">
                        <img src="/upload/@article.ImageUrl" width="100px" height="100px" class="rounded-4 shadow" />
                    </a>
                    <div class="">
                        <a asp-action="ArticleDetils" asp-route-id="@article.Id">
                            <h3 class="h5 text-white">@article.Title</h3>
                        </a>
                        <span class="text-white-50 ">
                            @article.PublishDate.ToString("dd/MM/yyyy")</span>
                    </div>

                </div>
                <div class="">
                        <a asp-action="Delete" asp-controller="Article" asp-route-id="@article.Id" class="btn btn-outline-danger"> Delete <i class="fa-regular fa-trash-can"></i></a>
                        <a asp-action="Edit" asp-controller="Article" asp-route-id="@article.Id" class="btn btn-outline-warning">Edit</a>
                </div>
            </div>
        
   }      

</div>
</div>
</section>



