@using System.Security.Claims
 @model ArticleWithUserViewModel
@{
    ViewData["Title"] = "MyArticles";
    Layout = "_MainLayout";
}

    

    
    
<section class="content">
    
        <div class="d-flex align-items-center gap-3 justify-content-start m-3">
            <img src="/assets/download.jpeg" width="150px" class="rounded-3 shadow show" />
            <div class="gap-5">
                <h2 class="h4 m-0">@Model.UserName</h2>
                <span>@User.FindFirst(ClaimTypes.Role)?.Value <i class="fa-solid fa-certificate text-primary"></i></span>
                <a class="btn btn-primary d-block mt-2" asp-action="AddArticle" asp-controller="Article"><i class="fa-solid fa-circle-plus"></i> Add Article</a>
            </div>
        </div>
        
           
           
           
       
    
    <div class="text-center">
        <h2 class="my-article">My Article</h2>
        <div class="pyramid-lines">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="row">

         @foreach(Article article in Model.Articles)
        {
            <div class="col-lg-4 col-md-4 pt-4">
                <div class="card card-article h-100 ">
                        <div class="btn1-blog position-absolute btn btn-primary end-0 m-2">@article.Category.CategoryName</div>
                    <div class="overflow-hidden">
                        <a asp-action="ArticleDetils" asp-route-id="@article.Id">
                            
                                <picture class="h-100">
                                    @if (article.ImageUrl.Contains("http"))
                                    {
                                    <source class="img-article" srcset="@article.ImageUrl">
                                    }
                                    else
                                    {
                                    <source class="img-article"
                                                srcset="@(article.ImageUrl.StartsWith("/upload/") ? article.ImageUrl : "/upload/" + article.ImageUrl)">
                                    }
                                <img src="/assets/newspaper_11202485.gif" class="card-img-top w-100 img-article"height="200px" alt="...">
                                </picture>

                         
                        </a>
                        </div>
                    
                    <div class="card-body ">
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="a-blog card-title text-decoration-none d-block icon-link-hover h5">@article.Title</h2>
                            <div class="dropdown">
                                <a class="" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-action="Delete" asp-controller="Article" asp-route-id="@article.Id" class="dropdown-item"><img src="~/assets/icon/bin-file_11677485.gif" width="40px" alt="icon Delete"/>Delete</a>
                                    </li>
                                    <li>
                                        <a asp-action="Edit" asp-controller="Article" asp-route-id="@article.Id" class="dropdown-item"><img src="~/assets/icon/edit_11186846.gif" width="40px" alt="icon edit" />Edit</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        <p class="card-description">@article.Content</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between p-1 ">
                        <div class="foot-ph">
                            <img src="imges/testimonial-2.jpg" alt="" class="rounded-circle"><span class="a-blog card-title text-decoration-none mx-2 icon-link-hover">@article.User.Name</span>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="fa-regular fa-clock"></i><span class="mx-2">@article.PublishDate.ToString("dd/MM/yyy")</span>
                        </div>

                    </div>
                </div>
            </div>

        }
    </div>

</section>
