 @model ArticleWithUserViewModel

@{
    ViewData["Title"] = "UsersArticles";
    Layout = "_MainLayout";
    SelectList Categories = new SelectList(ViewBag.Categories, "CategoryId", "CategoryName");
}

<div id="colorlib-main">
    <div class="hero-wrap js-fullheight" style="background-image: url(images/bg_1.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="js-fullheight d-flex justify-content-center align-items-center">
            <div class="col-md-8 text text-center">
                @* <div class="img mb-4" style="background-image: url(/assets/img/profile2.jpg);"></div> *@
                <img src="/userImg/@Model.UserImg" class="rounded-pill" />
                <div class="desc">
                    <h2 class="subheading">Hello I'm</h2>
                    <h1 class="mb-4">@Model.UserName</h1>
                    <h3 class="mb-4">I hope you like my articles.</h3>
                    
                </div>
            </div>
        </div>
    </div>


</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Articles</h4>
                
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table id="articleTable" class="display table table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th>Article ID</th>
                            <th>Imge</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Owner</th>
                            <th>Publish Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Article article in Model.Articles)
                        {
                            <tr id="article-row-@article.Id">
                                <td>@article.Id</td>
                                <td>
                                    <a asp-action="ArticleDetils" asp-route-id="@article.Id">
                                        <picture class="h-100">
                                            @if (article.ImageUrl.Contains("http"))
                                            {
                                                <source class="d-block w-100 object-fit-cover h-100" srcset="@article.ImageUrl">
                                            }
                                            else
                                            {
                                                <source class="w-100 d-block object-fit-cover h-100"
                                                        srcset="@(article.ImageUrl.StartsWith("/upload/") ? article.ImageUrl : "/upload/" + article.ImageUrl)">
                                            }
                                            <img src="/assets/newspaper_11202485.gif"width="60px" class="card-img-top w-100" alt="...">
                                        </picture>
                                    </a>
                                </td>
                                <td>@article.Title</td>
                                <td>@article.Category?.CategoryName</td>
                                <td>@article.User?.Name</td>
                                <td>@article.PublishDate.ToString("yyyy-MM-dd")</td>

                                

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
