@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h4 class="page-title">User Management</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">User Management</a>
        </li>
    </ul>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Our Users</h4>
                <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addRowModal">
                    <i class="fa fa-plus"></i> Add User
                </button>
            </div>
        </div>
        <div class="card-body">
            <!-- Modal -->
            <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <h5 class="modal-title"><span class="fw-mediumbold"> New</span> <span class="fw-light"> User </span></h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="small">Create a new User using this form, make sure you fill them all</p>
                            <form id="rowForm" method="post">
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Name</label>
                                            <input id="addName" name="Name" type="text" class="form-control" placeholder="Enter name" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6 pe-0">
                                        <div class="form-group form-group-default">
                                            <label>Email</label>
                                            <input id="addEmail" name="Email" type="email" class="form-control" placeholder="Enter email" required />
                                            <!-- Error message for email validation -->
                                            <small id="emailError" class="text-danger" style="display:none;">Email already exists.</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Password</label>
                                            <div class="input-group">
                                                <input id="addPassword" name="Password" type="password" class="form-control" placeholder="Enter password" required />
                                                <span class="input-group-text" onclick="togglePassword()">
                                                    <i class="fa fa-eye"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Role</label>
                                            <select id="addRole" name="Role" class="form-control" required>
                                                <option value="" disabled selected>Select a role</option>
                                                <option value="0">Reader</option>
                                                <option value="1">Writer</option>
                                                <option value="2">Admin</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer border-0">
                            <button type="button" id="addRowButton" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Table to display users -->
            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Role</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr id="user-row-@user.Id">
                                <td>@user.Name</td>
                                <td>@user.Email</td>
                                <td>*******</td> <!-- Mask the password -->
                                <td>@user.Role</td>
                                <td>
                                    <div class="form-button-action">
                                        <!-- Edit button that calls the editUser function and passes the user ID -->
                                        <button type="button" class="btn btn-link btn-primary btn-lg" onclick="editUser(@user.Id)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <!-- Delete button that calls the deleteUser function and passes the user ID -->
                                        <button class="btn btn-link btn-danger" onclick="deleteUser(@user.Id)">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal for delete user -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="confirmDeleteButton" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>


<!-- Success Modal after deletion -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notification</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Edit User Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- Error message container -->
                <div id="editErrorMessages" class="alert alert-danger" style="display:none;">
                    <!-- Error messages will be injected here -->
                </div>

                <form id="editUserForm" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="editUserId" name="Id" />
                    <div class="form-group form-group-default">
                        <label>Name</label>
                        <input id="editName" name="Name" type="text" class="form-control" required />
                    </div>
                    <div class="form-group form-group-default">
                        <label>Email</label>
                        <input id="editEmail" name="Email" type="email" class="form-control" required />
                    </div>
                    <div class="form-group form-group-default">
                        <label>Password</label>
                        <div class="input-group">
                            <!-- Temporarily change to 'type="text"' -->
                            <input id="editPassword" name="Password" type="Password" class="form-control" placeholder="Enter password" />
                            <span class="input-group-text" onclick="toggleEditPassword()">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                    </div>

                    <div class="form-group form-group-default">
                        <label>Role</label>
                        <select id="editRole" name="Role" class="form-control" required>
                            <option value="0">Reader</option>
                            <option value="1">Writer</option>
                            <option value="2">Admin</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-primary" id="saveEditUser">Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script>
    var userIdToDelete = null;  // Variable to store the ID of the user to delete

    // Function to toggle password visibility for adding user
    function togglePassword() {
        var passwordField = document.getElementById('addPassword');
        var icon = passwordField.nextElementSibling.querySelector('i');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }

    // Client-side validation for checking if email is unique
    $('#addEmail').on('input', function () {
        var email = $(this).val();
        checkEmailUnique(email);
    });

    function checkEmailUnique(email) {
        $.ajax({
            url: '@Url.Action("CheckEmailUnique", "Admin")',  // Backend URL to check email uniqueness
            type: 'POST',
            data: { email: email },
            success: function (response) {
                if (!response.isUnique) {
                    $('#emailError').show();  // Show error if email is not unique
                    $('#addRowButton').prop('disabled', true);  // Disable the submit button
                } else {
                    $('#emailError').hide();  // Hide error if email is unique
                    $('#addRowButton').prop('disabled', false);  // Enable the submit button
                }
            },
            error: function () {
                console.log('Error occurred during email validation.');
            }
        });
    }


    // Handle form submission only when email is unique and other fields are valid
    $('#addRowButton').on('click', function (e) {
        e.preventDefault();

        // Get the form element
        var form = $('#rowForm')[0];

        // Validate the form using HTML5 built-in validation
        if (!form.checkValidity()) {
            form.reportValidity();  // Show the browser's validation messages
            return;  // Stop the submission if validation fails
        }

        // Validate if the email is unique
        if ($('#emailError').is(':visible')) {
            return false;  // Prevent submission if email is not unique
        }

        // Collect form data
        var formData = {
            Name: $('#addName').val(),
            Email: $('#addEmail').val(),
            Password: $('#addPassword').val(),
            Role: $('#addRole').val()
        };

        // Map role values to text labels
        var roleText = '';
        switch (formData.Role) {
            case '0':
                roleText = 'Reader';
                break;
            case '1':
                roleText = 'Writer';
                break;
            case '2':
                roleText = 'Admin';
                break;
            default:
                roleText = 'Unknown Role';
        }

        // Send form data via AJAX to the AddUser action in AdminController
        $.ajax({
            url: '@Url.Action("AddUser", "Admin")',  // The URL to send the data to
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.success) {
                    // If the server responds with success, append the new user to the table
                    var newRow = `
                            <tr id="user-row-${response.userId}">
                                <td>${formData.Name}</td>
                                <td>${formData.Email}</td>
                                <td>*******</td>  <!-- Password is masked -->
                                <td>${roleText}</td> <!-- Display role as text -->
                                <td>
                                    <div class="form-button-action">
                                        <button type="button" class="btn btn-link btn-primary btn-lg" onclick="editUser(${response.userId})">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="btn btn-link btn-danger" onclick="deleteUser(${response.userId})">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>`;

                    // Append the new row to the table
                    $('#add-row tbody').append(newRow);

                    // Reset the form and close the modal
                    $('#rowForm')[0].reset();
                    $('#addRowModal').modal('hide');
                } else {
                    $('#modalMessage').text("Invalid data:\n" + response.errors.join("\n"));
                    $('#successModal').modal('show');
                }
            },
            error: function () {
                $('#modalMessage').text('Error occurred while adding user.');
                $('#successModal').modal('show');
            }
        });
    });



    // Function to trigger the confirmation modal
    function deleteUser(userId) {
        // Store the user ID in a variable for later use
        userIdToDelete = userId;

        // Show the confirmation modal
        $('#confirmDeleteModal').modal('show');
    }

    // When the user confirms deletion in the modal
    $('#confirmDeleteButton').on('click', function () {
        if (userIdToDelete !== null) {
            $.ajax({
                url: '@Url.Action("DeleteUser", "Admin")',  // Action URL
                type: 'POST',  // HTTP method
                data: { id: userIdToDelete },  // Data to send (user ID)
                success: function (response) {
                    if (response.success) {
                        // Set the message in the modal
                        $('#modalMessage').text(response.message);

                        // Show the success modal
                        $('#successModal').modal('show');

                        // Remove the user row from the table
                        $('#user-row-' + userIdToDelete).fadeOut(500, function () {
                            $(this).remove();  // After fade-out animation, remove the row
                        });
                    } else {
                        // Set the error message in the modal
                        $('#modalMessage').text("Error: " + response.message);
                        $('#successModal').modal('show');
                    }

                    // Close the confirmation modal
                    $('#confirmDeleteModal').modal('hide');
                },
                error: function () {
                    // Set a generic error message in the modal
                    $('#modalMessage').text("An error occurred while deleting the user.");
                    $('#successModal').modal('show');

                    // Close the confirmation modal
                    $('#confirmDeleteModal').modal('hide');
                }
            });
        }
    });

    // Function to open the edit modal and fill in user data
    function editUser(userId) {

        // Clear any previous validation error messages
        $('#editErrorMessages').empty().hide(); // Hide and clear the error messages

        // Make an AJAX call to get the user details
        $.ajax({
            url: '@Url.Action("GetUser", "Admin")',  // Create a GetUser action in AdminController
            type: 'GET',
            data: { id: userId },
            success: function (user) {
                // Populate the modal fields with user data
                $('#editUserId').val(user.id);
                $('#editName').val(user.name);
                $('#editEmail').val(user.email);
                $('#editRole').val(user.role);
                $('#editPassword').val(user.password);  // Show the actual password

                // Show the edit modal
                $('#editUserModal').modal('show');
            },
            error: function () {
                alert('Error fetching user details.');
            }
        });
    }

    // Function to reset the form when the modal is closed
    $('#editUserModal').on('hidden.bs.modal', function () {
        $('#editUserForm')[0].reset();  // Reset the form fields
        $('#editErrorMessages').empty().hide();  // Hide and clear the error messages
    });

    // Handle form submission and save the edited user via AJAX
    $('#saveEditUser').on('click', function () {
        var password = $('#editPassword').val() === '**********' ? '' : $('#editPassword').val(); // Treat masked password as unchanged
        var formData = {
            Id: $('#editUserId').val(),
            Name: $('#editName').val(),
            Email: $('#editEmail').val(),
            Password: password,
            Role: $('#editRole').val()
        };

        $.ajax({
            url: '@Url.Action("EditUser", "Admin")',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.success) {
                    var row = $('#user-row-' + formData.Id);
                    row.find('td:nth-child(1)').text(formData.Name);  // Update Name
                    row.find('td:nth-child(2)').text(formData.Email);  // Update Email

                    var roleText = '';
                    switch (formData.Role) {
                        case '0': roleText = 'Reader'; break;
                        case '1': roleText = 'Writer'; break;
                        case '2': roleText = 'Admin'; break;
                        default: roleText = 'Unknown';
                    }

                    row.find('td:nth-child(4)').text(roleText);  // Update Role
                    $('#editUserModal').modal('hide');  // Close modal
                } else {
                    displayValidationErrors(response.errors);
                }
            },
            error: function () {
                alert('Error saving user.');
            }
        });
    });

    function toggleEditPassword() {
        var passwordField = document.getElementById('editPassword');
        var icon = passwordField.nextElementSibling.querySelector('i');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }


    // Function to display validation errors
    function displayValidationErrors(errors) {
        $('#editErrorMessages').empty();
        errors.forEach(function (error) {
            $('#editErrorMessages').append('<p>' + error + '</p>');
        });
        $('#editErrorMessages').show();
    }
</script>
